# vim: set foldmethod=marker :
################################################################
# Project .gitignore -- Python/R/Julia Projects
################################################################

# {{{ [ GENERAL ] /////////////////////////////////////////////////////////////

# ===( Git )===================================================================

# Ignore all dotfiles...
#.*
# except for .gitignore
!.gitignore
!.gitattributes

!.dockerignore
!.travis.yml

# ===( Autosave )=============================================================

*~
.#*


# ===( Logs )=============================================================

*.log
*.tlog
/logs/

# ===( Data )=============================================================

*.sqlite

# ===( Archives )=========================================================

*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
#*.zip

# ===( OS )===============================================================

# ---( MacOS )-----
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db



# }}} ---

# {{{ [ STANDARD ] /////////////////////////////////////////////////////////////

# ===( project )===================================================================

/issues
/home
/logs
/temp

# ===( project )===================================================================



# }}} ---

# {{{ [ LANG ] /////////////////////////////////////////////////////////////

# ===( C/C++ )============================================================

# ---( binaries )-----
*.dll
*.exe
*.o
*.a
*.so
/src/*.o
/src/*.o-*
/src/*.d
/src/*.so

# ===( Python )===========================================================

# ---( project )-----
!.python-version

# ---( virtualenv )-----
venv/
venv

# ---( setup )-----
**/*.2delete
**/build/
/build/
/dist/

*.pyc
*.egg
*.whl

*.egg-info/
*.egg-info

# ---( cache )-----
/.pytest_cache/

# ---( tools )-----

# ---( docs )-----
/doc/_build/
#*.com
#docs

# ---( jupyter )-----
.ipynb_checkpoints/
notebooks/.virtual_documents/
Untitled*.ipynb

# ===( R )================================================================

# ---( project )-----
.Rproj.user
.Rhistory


# ---( cache )-----
.RData
.httr-oauth

# ---( docs )-----
Rplots.*
inst/doc
vignettes/*.R

# ---( targets )-----
/.drake

# ---( misc )-----
/clion-test.R


# ===( Julia )============================================================

# ===( Java )=============================================================

# ---( binaries )-----
*.class
*.jar
*.ear
*.war

# ---( maven )-----

**/target/

# ---( spark )-----
metastore_db/



# ===( Javascript )=======================================================

# ---( nodejs )-----

node_modules/
#package-lock.json
#package.json
.pnp.cjs
.pnp.loader.mjs
.yarn/


# }}} ---

# {{{ [ LATEX ] /////////////////////////////////////////////////////////////

# ===( gitlab )============================================================

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

## Generated if empty string is given at "Please type another file name for output:"
.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Build tool directories for auxiliary files
# latexrun
latex.out/

## Auxiliary and intermediate files from other packages:
# algorithms
*.alg
*.loa

# achemso
acs-*.bib

# amsthm
*.thm

# beamer
*.nav
*.pre
*.snm
*.vrb

# changes
*.soc

# comment
*.cut

# cprotect
*.cpt

# elsarticle (documentclass of Elsevier journals)
*.spl

# endnotes
*.ent

# fixme
*.lox

# feynmf/feynmp
*.mf
*.mp
*.t[1-9]
*.t[1-9][0-9]
*.tfm

#(r)(e)ledmac/(r)(e)ledpar
*.end
*.?end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*.lzo
*.lzs

# uncomment this for glossaries-extra (will ignore makeindex's style files!)
# *.ist

# gnuplottex
*-gnuplottex-*

# gregoriotex
*.gaux
*.gtex

# htlatex
*.4ct
*.4tc
*.idv
*.lg
*.trc
*.xref

# hyperref
*.brf

# knitr
*-concordance.tex
# TODO Uncomment the next line if you use knitr and want to ignore its generated tikz files
# *.tikz
*-tikzDictionary

# listings
*.lol

# luatexja-ruby
*.ltjruby

# makeidx
*.idx
*.ilg
*.ind

# minitoc
*.maf
*.mlf
*.mlt
*.mtc[0-9]*
*.slf[0-9]*
*.slt[0-9]*
*.stc[0-9]*

# minted
_minted*
*.pyg

# morewrites
*.mw

# nomencl
*.nlg
*.nlo
*.nls

# pax
*.pax

# pdfpcnotes
*.pdfpc

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# scrwfile
*.wrt

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

# pdfcomment
*.upa
*.upb

# pythontex
*.pytxcode
pythontex-files-*/

# tcolorbox
*.listing

# thmtools
*.loe

# TikZ & PGF
*.dpth
*.md5
*.auxlock

# todonotes
*.tdo

# vhistory
*.hst
*.ver

# easy-todo
*.lod

# xcolor
*.xcp

# xmpincl
*.xmpi

# xindy
*.xdy

# xypic precompiled matrices and outlines
*.xyc
*.xyd

# endfloat
*.ttt
*.fff

# Latexian
TSWLatexianTemp*

## Editors:
# WinEdt
*.bak
*.sav

# Texpad
.texpadtmp

# LyX
*.lyx~

# Kile
*.backup

# gummi
.*.swp

# KBibTeX
*~[0-9]*

# TeXnicCenter
*.tps

# auto folder when using emacs and auctex
./auto/*
*.el

# expex forward references with \gathertags
*-tags.tex

# standalone packages
*.sta

# Makeindex log files
*.lpz

# xwatermark package
*.xwm

# REVTeX puts footnotes in the bibliography by default, unless the nofootinbib
# option is specified. Footnotes are the stored in a file with suffix Notes.bib.
# Uncomment the next line to have this generated file ignored.
#*Notes.bib

# }}} ---

# {{{ [ TOOLS ] /////////////////////////////////////////////////////////////

# ===( CI/CD )=============================================================

# ---( terraform )-----

*.retry

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json


# ===( IDEs )=============================================================

# ---( eclipse )-----
.settings
.project
.classpath
**/.settings/
**/.classpath
**/.project
**/.metadata


# ---( idea )-----
/.idea
/.idea_modules
*.iml
*.eml


# ---( ctags )-----
/BROWSE
/GPATH
/GRTAGS
/GTAGS
/TAGS


# ===( Editors )=============================================================

# ---( sublime )-----
*.sublime-project
*.sublime-workspace

# ---( obsidian )-----
.obsidian/

# ---( vscode )-----
/.vscode


# ---( emacs )-----
\#*\#
*.~undo-tree~


# ---( vim )-----




# }}} ---


