# Ignore the local package library and temporary build folders
library/
python/
staging/
local/
cellar/
sandbox/
lock/


# Track configuration and bootstrapper files explicitly
!activate.R
!settings.dcf
!settings.json
!.gitignore